/* CSS styling adjusting size, boarder, coloring, and 
grid placement of HTML elements */



/*
CSS styling for heading
*/
h1 {
    text-align: center;
}



/*
CSS styling for game board
*/
#board {
    margin-left: auto;
    margin-right: auto;
    width: 375px;
    height: 375px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0px;
}



/*
CSS styling for squares
*/
.square {
    width: 120px;
    height: 120px;
    border: 1px solid rgb(11, 163, 223);
    background-color: #F5F5F5;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}



/*
CSS styling for hovering over squares
*/
.square:hover {
    background-color: #eb7d0f;
}



/*
CSS styling for New Game button
*/
#newGameButton {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 40px;
    width: 150px;
    background-color: #FFFFFF;
    border: 1px solid #eb7d0f;
    border-radius: 40px;
    font-size: 18px;
}



/*
CSS styling for hovering over button
*/
#newGameButton:hover {
    background-color: rgb(11, 163, 223);
    color: #eb7d0f;
}